@model dll.Models.uyeler
@{
    ViewBag.Title = "Üye Profil";
}

@section sayfa_css{
    <link rel="stylesheet" href="~/Content/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/components/timepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/components/daterangepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/components/bs-rating.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/components/bs-filestyle.css" type="text/css" />
}

<div id="kullanici_ust" class="content-wrap paddingtop10">
    <div class="container clearfix" id="uye-container">
        <div class="row clearfix">
            <div id="uye_formu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="fotoadi">
                    <div class="col-md-2 col-sm-4 col-xs-6 paddingsagsol0">
                        <img id="imgProfilResmi" class="form-control" style="height: 100px; width: 100px; padding: 0" src="/Content/img/kul_profil/@Model.fotograf" alt="EduAdvisor @(Model.adi + " " + Model.soyadi)" />
                    </div>
                    <div class="heading-block noborder col-md-10 col-sm-8 col-xs-6" style="padding: 0">
                        <h3>
                            <span id="profil_adisoyadi">@(Model.adi + " " + Model.soyadi)</span>
                        </h3>
                        <br />
                    </div>
                </div>
                @Html.Partial("UyeProfilTabMenu", new ViewDataDictionary { new KeyValuePair<string, object>("dogrulandi", Model.uye_dogrulama == null ? false : Model.uye_dogrulama.onay == 1) })
                <div id="tabsicerikayarla" class="tab-content col-md-10 col-sm-12 col-xs-12">
                    @{
                        Html.RenderPartial("UyeProfilKullanici", Model);
                        @Html.Partial("UyeProfilResmi");
                        Html.RenderPartial("UyeProfilSeviyeler", Model);
                        Html.RenderPartial("UyeProfilEgitimler", Model);
                        Html.RenderPartial("UyeProfilZiyaret", Model.okul_ziyaret.Select(x => x.okullar).ToList());
                        Html.RenderPartial("UyeProfilOnKayit", Model.on_kayit_basvuru.OrderByDescending(x => x.basvuru_tarihi).ToList());
                        Html.RenderPartial("UyeProfilYorumlar", Model.yorums.Where(x => x.uye_sildi == false).OrderByDescending(x => x.tarih).ToList());
                        if (Model.uye_dogrulama == null || Model.uye_dogrulama.onay == 0)
                        {
                            @Html.Partial("UyeProfilDogrulama");
                        }
                        @Html.Partial("UyeProfilAyarlar")

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section sayfa_js{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOn_vQHWDPeYYEQCQDMmuBYLOEzS6BsfA&libraries=places"></script>
    <script type="text/javascript" src="~/Content/js/datepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/components/timepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/components/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/locales/bootstrap-datepicker.tr.min.js"></script>
    <script type="text/javascript" src="~/Content/js/components/moment.js"></script>
    <script type="text/javascript" src="~/Content/js/components/star-rating.js"></script>
    <script type="text/javascript" src="~/Content/js/components/bs-filestyle.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.cropit.js"></script>
    <script src="~/Content/js/jquery.easyPaginate.js"></script>
    <script src="~/Content/js/jquery.maskedinput.min.js"></script>
}
