<footer id="siyahyap" class="" style="border-top: 5px #a02f89 solid;">
    <div class="mlr15" style="">
        <div class="col-sm-4">
            <div class="col-md-6 padding0">
                <h3 style="color: #a02f89;text-transform:uppercase;" title="EduAdvisor @Resources.Varsayilan.bslk_hakkimizda">@Resources.Varsayilan.bslk_hakkimizda</h3>
                <ul class="">
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("Footer",new {gozukecek="Misyonumuz"})" title="EduAdvisor @Resources.Varsayilan.misyonumuz">@Resources.Varsayilan.misyonumuz</a>
                    </li>
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("Footer",new { gozukecek="Kullanim-Kosullari" })" title="EduAdvisor @Resources.Varsayilan.kullanim_kosullari">@Resources.Varsayilan.kullanim_kosullari</a>
                    </li>
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("Footer",new { gozukecek="Gizlilik-Politikasi" })" title="EduAdvisor @Resources.Varsayilan.gizlilik_politikasi">@Resources.Varsayilan.gizlilik_politikasi</a>
                    </li>
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("Footer",new { gozukecek="Bize-Ulasin" })" title="EduAdvisor @Resources.Varsayilan.bslk_bizeulasin">@Resources.Varsayilan.bslk_bizeulasin</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 padding0">
                <h3 style="color: #a02f89;">@Resources.Varsayilan.kesfedin</h3>
                <ul>
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("KurumsalKayit", new { tip = "yetkili" })" title="@Resources.Varsayilan.okulunuzu_kaydedin">@Resources.Varsayilan.okulunuzu_kaydedin</a>
                    </li>
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("Footer",new { gozukecek="Sorulan-Sorular" })" title="@Resources.Varsayilan.bslk_sikcasoru">@Resources.Varsayilan.bslk_sikcasoru</a>
                    </li>
                    <li>
                        <i class="icon-angle-right"></i>
                        <a href="@Url.RouteUrl("Footer",new { gozukecek="Site-Haritasi" })" title="@Resources.Varsayilan.bslk_siteharitasi">@Resources.Varsayilan.bslk_siteharitasi</a>
                    </li>
                </ul>
            </div>
        </div>
        
        </div>
        <div class="col-sm-6 pull-left padding0" id="nasilyardim">
            <h3 style="color: #a02f89;" class="text-uppercase">@Resources.Varsayilan.b_uygindir</h3>
            <a href="@Resources.Varsayilan.b_uygindir" style="height:90px;">
                <img src="~/Content/images/appplay.png" alt="" />
            </a>
            <div class="col-xs-12 padding0">
                <div class="paddingtop10">
                    @{
                        List<dll.Models.sosyal_medya> sosyal = (List<dll.Models.sosyal_medya>)ViewBag.SosyalMedyalar;
                        for (int i = 0; i < sosyal.Count; i++)
                        {
                            <a href="@sosyal[i].link" style="margin-left: 5px; margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="@sosyal[i].adi">
                                <img src="@sosyal[i].image_url" alt="EduAdvisor-@sosyal[i].adi" />
                            </a>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</footer>

